* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    padding: 40px;
    display: flex;
    gap: 30px;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    color: #333;
    margin-left: 50px;
    margin-top: 80px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
}

.box a {
    font-size: 18px;
    color: black;
    margin-top: 5px;
}

.box input {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: orangered;
    font-size: 18px;
    font-weight: 500;
}

.box input:hover {
    border: 1px solid orangered;
    background-color: white;
}

.box .cardImage a {
    position: relative;
    left: 20px;
    top: 10px;
    font-size: 14px;
    z-index: 23;
}

.box .cardImage a i {
    color: orangered;
    margin-right: 10px;
}

.box a:hover {
    text-decoration: underline;
}

.box .price {
    text-align: left;
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 10px;
}

.cardImage {
    border: 1px solid #ccc;
    height: 280px;
    width: 280px;
    margin-bottom: 10px;
    overflow: hidden;
}

.cardImage img {
    position: relative;
    height: 240px;
    width: 240px;
    transition: 1s;
    left: 20px;
    top: 20px;
}

.cardImage img:hover {
    transform: scale(1.1);
}

.cardImage p {
    position: relative;
    z-index: 20;
    color: black;
    margin: 0;
    font-size: 16px;
    background-color: yellow;
    text-align: center;
    padding: 5px;
    width: 50px;
    top: -30px;
    left: 20px;
}

.stars i {
    font-size: 1rem;
    color: gold;
    margin-top: 30px;
}