*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.link{
    color: #4093D0;
    text-decoration: none
}
.link:hover{
    text-decoration: underline;
}
.ulist {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    display: flex;
    padding: 1rem 2rem;
    list-style-type: none;
}
.list-direct {
    display: flex;
    align-items: center;
}
.arrow{
    color: rgb(117, 113, 113);
    margin-left: 0.5rem;
    padding: 0px 0.5rem;
}
.container-content {
    display: flex;
    flex-direction: row;
    padding: 0px 2rem 2.5rem;
}
.side-menu{
    text-decoration: none;
}
.btn {
    width: 100%;
}
.menuTwo{
    flex:1 1 100%;
    max-width: 18rem;
    flex-direction: column;
    display: none;
    /* border-top: 1px solid #ddd; */
}
.btn-menu{
    width: 100%;
    border: 1px solid #ddd;
    cursor: pointer;
}
.account-menu{
    background-color: rgb(248, 248, 248);
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem 0px 0.5rem 1rem;
    line-height: 1.3rem;
    /* border: 1px solid rgb(224, 224, 224); */
}
.account-menu-text{
    text-align: start;
    font-size: .8rem;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
}
.menu-arrow{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
}
.menu-arrow svg{
    width: 11px;
    margin-right: 2rem;
    margin-top: -.5rem;
    color: rgb(117, 117, 117);
}
.up{
    transition: 0.1s linear 0s;
    transform: rotate(90deg);
}
.down {
    transition: 0.1s linear 0s;
    transform: rotate(270deg);
}
.hiddenMenu{
    max-height: 0;
    transition: max-height .5s ease-out;
    overflow: hidden;
}
.show{
    max-height: 500px;
    transition: max-height .5s ease-in;
}
.menu {
    display: flex;
    max-width: 18rem;
    flex-direction: column;
    border-top: 1px solid rgb(224, 224, 224);
    flex: 1 1 35%;
}
.side-menu-items {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    padding: 1rem;
    color: black;}
.side-menu-items span{
    border-bottom: 1px solid white;
    color: white;
}
.inner-content {
    width: 100%;
    padding: 0px 1.5rem;
}
.nameOfBlock {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: rgb(51, 44, 44);
} 
.wish-block{
    background-color: rgb(248, 248, 248);
    padding: 1.125rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
} 
.wish-content {
    display: flex;
    flex-direction: row;
    
}
.wish-img {
    margin-right: 1.5rem;
    object-fit: contain;
} 
.wish-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.wish-header {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
    color: rgb(51, 44, 44);
}
.wish-text {
    color: rgb(51, 44, 44);
    line-height: 1.5rem;
}
.button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.9rem;
} 
.wish-btn {
    padding: 1rem;
    border: 1px solid rgb(0, 109, 183) ;
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    background-color: rgb(0, 109, 183);
    color: white;
    width: 40%;
    cursor: pointer;
}
.wish-btn:hover{
    background-color: white;
    color: black;
}
.wish-general {
    margin: 5rem 0px;
} 
.wish-general-info {
    background-color: rgb(248, 248, 248);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0px;
} 
.general-content {
    display: flex;
    flex-direction: row;
} 
.content-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 20%;
} 
.wish-general-date {
    color: #53362C;
    font-size: 0.9rem;
    line-height: 1.5rem;
}
.wish-general-cost {
    color: #53362C;
    font-size: 1rem;
    line-height: 1.1.5625rem;
    font-weight: 500;
} 
.content-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 1 70%;
}
.breakline {
    display: flex;
    flex-direction: row;
}
.addtobag-btn{
    width: 40%;
    padding: 1rem;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    text-align: center;
    font-size: 0.9rem;
    background-color: rgb(224, 224, 224);
    cursor: not-allowed;
    color: black;
}
.wish-supp {
    border-radius: 5px;
    padding: 0px 1rem;
    position: relative;
    margin: 2.5rem 0px 1.1rem;
    background-color: rgb(248, 248, 248);
}
.img-supp {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: -1.5rem;
    right: -2rem;
}
.supp-heading{
    display: block;
    padding: 1rem 0px;
}
.line-break {
    height: 0px;
    border-top: 1px solid rgb(224, 224, 224);
    margin-right: 50px;
}
.wrapper-supp{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cont-supp-link{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem 0px;
}
.supp-link {
    text-decoration: none;
    width: 50%;
    color: black;
    font-size: .9rem;
}
.line-breakTwo {
    height: 0px;
    border-top: 1px solid rgb(224, 224, 224);
} 

@media screen and (max-width: 900px) {
    .container-content{
        flex-direction: column;
    }
    .inner-content{
        padding: 1.5rem 0px;
    }
    .menu{
        display: none;
    }
    .menuTwo{
        display: block;
    }
    .addtobag-btn{
        width: 30%;}
}
@media screen and (max-width: 600px){
    .wish-block{
        flex-direction: column;
        align-items: center;
    }
    .wish-btn{
        width:auto;
    }
    .button-content{
        flex-direction: column;
        justify-content: center;
    }
    .wish-general-info{
        flex-direction: column;
    }
    .content-btn{
        flex-direction: column;
        margin-top: 1rem;
        align-items: stretch;
    }
    .addtobag-btn{
        width: auto;
    }
    .general-content {
        flex-direction: column;
    }
}
